POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DATABASE=pulse_fx
#keep to be compatible with node-pg-migrate lib
DATABASE_URL=postgresql://postgres:password@database:5432/pulse_fx

FRED_API_KEY=xxxx
TZ=America/Sao_Paulo #docker timer