POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DATABASE=pulse_fx_test
#keep to be compatible with node-pg-migrate lib
DATABASE_URL=postgresql://postgres:password@localhost:5432/pulse_fx_test